.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}



/* .show table{
  width: 100%;
  border: 2px solid #ddd;
  border-collapse: collapse;
  line-height: 2em;
}
.show table td,.show table th{
  
  border: 1px solid #ddd;
  text-align: center;
}
.show table button{
  width: 200px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  line-height: 2em;
}
.show table td:nth-child(4){
  width: 220px;
} */


